/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dashboard_engine/bootstrap/bootstrap
 *= require dashboard_engine/bootstrap/bootstrap-overrides
 *= require dashboard_engine/lib/jquery-ui-1.10.2.custom
 *= require dashboard_engine/lib/font-awesome
 *= require dashboard_engine/compiled/layout
 *= require dashboard_engine/compiled/elements
 *= require dashboard_engine/compiled/icons
 *= require dashboard_engine/lib/fullcalendar
 *= require dashboard_engine/lib/jquery.dataTables
 *= require dashboard_engine/compiled/datatables
 *= require_self
 */
.navbar-inverse{
	background: #229fb3;
	border: none;
	text-align: center;
	font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  height: 50px;
  overflow: hidden;
  padding: 10px 0 0 5px;
  position: relative;
}
.navbar-header a.navbar-brand{
	padding: 0;
}
.navbar .header-options {
  display: inline;
  float: left;
}
.navbar .header-options a button{
	font-size: 14px;
}
.navbar .header-logo {
  display: inline;
}
.navbar  .header-logo a img {
  margin-top: -6px;
  vertical-align: middle;
}
.navbar .header-user {
	float: right;
  padding-right: 10px;
}
.navbar .header-user p{
  margin: 7px 0 0 0;
  display: inline-block;
}

.navbar .header-user p a{
  color: white;
}
.navbar button i {
  margin-right: 8px;
}

table.dataTable thead th.center {
  text-align: center;
}