<div id="pad-wrapper" class="datatables-page">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Listado de Tareas</div>
        <div class="panel-body">
          <table id="example2">
            <thead>
              <tr>
                <th tabindex="0" rowspan="1" colspan="1">Nombre
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Responsable
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Compromiso
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Ubicación
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Cantidad
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Duración
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Estado
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Avance
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Planificado
                </th>
                <th tabindex="0" rowspan="1" colspan="1">Real
                </th>
              </tr>
            </thead>

            <!-- <tfoot>
              <tr>
                  <th rowspan="1" colspan="1">Nombre</th>
                  <th rowspan="1" colspan="1">Responsable</th>
                  <th rowspan="1" colspan="1">Tarea</th>
                  <th rowspan="1" colspan="1">Estado</th>
                  <th rowspan="1" colspan="1">Tipo</th>
                  <th rowspan="1" colspan="1">Fecha Comprometida</th>
              </tr>
            </tfoot> -->

            <tbody>
              <% ::Project.find(params[:id]).tasks.each do |c| %>
                <tr>
                    <td><%= c.name %></td>
                    <td><%= c.assignee.username %></td>
                    <td><%= "#{c.commitment}%" %></td>
                    <td><%= c.location %></td>
                    <td><%= "#{c.quantity} #{c.unit}" %></td>
                    <td><%= c.duration %> hrs.</td>
                    <td><%= t(c.status) %></td>
                    <td class="center"><%= c.progress %>%</td>
                    <td class="center"><%= "#{c.start_at} al #{c.end_at}" %></td>
                    <td class="center"><%= "#{c.started_at.strftime('%d/%m/%Y')} al #{c.ended_at.strftime('%d/%m/%Y')}" if c.started_at && c.ended_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example2').dataTable({
      "sPaginationType": "full_numbers",
      "pageLength": 5,
      "language": {
        "lengthMenu": "", //"Mostrando _MENU_ resultados por página"
        "zeroRecords": "Ningún resultado encontrado",
        "info": "Mostrando página _PAGE_ de _PAGES_",
        "infoEmpty": "Sin información disponible",
        "infoFiltered": "(_TOTAL_ resultados encontrados)", //de _MAX_ en total
        "sSearch": "Buscar: ",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        }
      }
    });
  });
</script>