<div class="row">
	<div class="col-md-12">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	    	<form class="form-inline" method="GET" action="<%= request.path %>">
	    		<div class="form-group">
				    <label></label>
				    <label>Filtros</label>
				  </div>
				  <div class="form-group">
				    <input type="text" class="form-control input-datepicker" name="start_at" placeholder="Fecha Inicio" value="<%= params[:start_at] %>" />
				  </div>
				  <div class="form-group">
				    <input type="text" class="form-control input-datepicker" name="end_at" placeholder="Fecha Término" value="<%= params[:end_at] %>" />
				  </div>
				  <% if with_assignee %>
					  <div class="form-group">
	            <select class="form-control" name="assignee_id">
							  <option value="" <%= "selected" if params[:assignee_id] == "" %>>Seleccione Responsable</option>
							  <% ::User.all.each do |u| %>
							  	<option value="<%= u.id %>" <%= "selected" if params[:assignee_id].to_i == u.id %>><%= u.username %></option>
							  <% end %>
							</select>
	          </div>
	        <% end %>
				  <div class="form-group">
				  	<button type="submit" class="btn btn-default">Filtrar</button>
				  </div>
				</form>
	    </div>
	  </div>
	</div>
</div>