<!-- navbar -->
<header class="navbar navbar-inverse" role="banner">
  <div class="header-options">
    <a href="/#">
      <button class="btn btn-primary"><i class="icon-arrow-left"></i> Volver</button>
    </a>
  </div>
  <div class="header-logo">
    <a href="#"><%= image_tag "ipsum.png" %></a>
  </div>
</header>
<!-- end navbar -->