<!-- sidebar -->
<div id="sidebar-nav">
  <ul id="dashboard-menu">
    <li class="<%= 'active' if action_name == 'index' %>">
      <% if action_name == 'index' %>
        <div class="pointer">
            <div class="arrow"></div>
            <div class="arrow_border"></div>
        </div>
      <% end %>
      <a href="<%= url_for :controller => 'dashboard', :action => 'index', :session_key => "#{params[:session_key]}" %>">
          <i class="icon-home"></i>
          <span>Resumen</span>
      </a>
    </li>

    <li class="<%= 'active' if action_name == 'charts' %>">
      <% if action_name == 'charts' %>
        <div class="pointer">
            <div class="arrow"></div>
            <div class="arrow_border"></div>
        </div>
      <% end %>
      <a href="<%= url_for :controller => 'dashboard', :action => 'charts', :session_key => "#{params[:session_key]}" %>">
          <i class="icon-signal"></i>
          <span>Plan Completado</span>
      </a>
    </li>

    <li class="<%= 'active' if action_name == 'tables' %>">
      <% if action_name == 'tables' %>
        <div class="pointer">
            <div class="arrow"></div>
            <div class="arrow_border"></div>
        </div>
      <% end %>
      <a href="<%= url_for :controller => 'dashboard', :action => 'tables', :session_key => "#{params[:session_key]}" %>">
          <i class="icon-check"></i>
          <span>Liberación Restricciones</span>
      </a>
    </li>

    <li class="<%= 'active' if action_name == 'extras' %>">
      <% if action_name == 'extras' %>
        <div class="pointer">
            <div class="arrow"></div>
            <div class="arrow_border"></div>
        </div>
      <% end %>
      <a href="<%= url_for :controller => 'dashboard', :action => 'extras', :session_key => "#{params[:session_key]}" %>">
          <i class="icon-warning-sign"></i>
          <span>Causas No Cumplimiento</span>
      </a>
    </li>
  </ul>
</div>
<!-- end sidebar -->