<!DOCTYPE html>
<html>
<head>
  <title><%= DashboardEngine.configuration.configurable_service %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'dashboard_engine/application', media: 'all' %>
  <%= stylesheet_link_tag    'dashboard_engine/compiled/index', media: 'screen' %>
  <%= stylesheet_link_tag    'dashboard_engine/lib/fullcalendar.print', media: 'print' %>
  <%= stylesheet_link_tag    'dashboard_engine/compiled/calendar', media: 'screen' %>

  <%= csrf_meta_tags %>

  <!-- open sans font -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

  <!-- lato font -->
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

  <%= javascript_include_tag 'dashboard_engine/application' %>

  <%= javascript_include_tag "dashboard_engine/highcharts.js", "chartkick" %>

  <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= javascript_include_tag 'dashboard_engine/highcharts_options' %>

</head>

<body>

  <%= render 'widgets/navbar' %>

  <%= render 'widgets/sidebar' %>

  <!-- main container -->
  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
